.feynman {
    height: 790px;
    position: relative;
    background-image: url("../../../images/feynman.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-color: #F2F2F2;
    overflow: auto;
    text-align: center;
}