@import url(./__triangle/kaufman__triangle.css);

@import url(../table/_theme/table_theme_dark.css);
.kaufman {
    background-color: #1F1F1F;
    position: relative;
    overflow: hidden;
    text-align: center;
}