.khan__buy-link {
    margin-left: 48px;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    align-items: flex-start;
}
  
  .khan__buy-link:hover {
    opacity: 50%;
    transition: opacity 0.5s linear 0.3s;
}